<div class="component__wrapper">
    <h2>Книги</h2>
    <div class="row search">
        <div class="col-lg-12">
            <input type="text" class="form-control col-lg-12" placeholder="Search for..." ng-model="$ctrl.query">
        </div>
    </div>

    <div class="row sorting">
        <div class="col-lg-12">
            <span>Сортировать по:</span>
            <ul class="sorting__list">
                <li class="sorting__item" ng-click="$ctrl.sort('name')" ng-class="$ctrl | sort: $ctrl.reverse:'name'">Названию</li>
                <li class="sorting__item" ng-click="$ctrl.sort('price')" ng-class="$ctrl | sort: $ctrl.reverse:'price'">Цене</li>
            </ul>
        </div>
    </div>

    <div class="row books__list">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 books__list-item" ng-repeat="book in $ctrl.books | filter: {name: $ctrl.query} | orderBy: $ctrl.sortField: $ctrl.reverse">
            <div class="books__item">
                <img ng-src="{{book.imageUrl}}" alt="{{book.name}}" class="books__img"/>
                <div class="books__description">
                    <div class="books__title"> <a href="#!/books/{{book.id}}">{{book.name}}</a> </div>
                    <div class="books__price">{{book.price}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
