<div class="component__wrapper book">
    <h2>{{$ctrl.book.name}}</h2>
    <div class="row">
        <div class="col-lg-3 book__images">
            <div class="book__image-main">
                <img ng-src="../{{image}}" class="book-thumb" ng-class="{selected: image === $ctrl.mainImage}" ng-repeat="image in $ctrl.book.images"/>

                <!-- <img ng-src="../{{$ctrl.mainImage}}" alt=""/> -->
            </div>

            <div class="row">
                <div ng-repeat="image in $ctrl.book.images" class="col-lg-4 col-md-3 col-sm-3 col-xs-3 book__image-item">
                    <div class="book__image-contain" ng-click="$ctrl.setImage(image)">
                        <img ng-src="../{{image}}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Артикул</th>
                        <td>{{$ctrl.book.id}}</td>
                    </tr>
                    <tr>
                        <th>Автор</th>
                        <td>{{$ctrl.book.author}}</td>
                    </tr>
                    <tr>
                        <th>год</th>
                        <td>{{$ctrl.book.year}}</td>
                    </tr>
                    <tr>
                        <th>цена</th>
                        <td>{{$ctrl.book.price}}</td>
                    </tr>
                    <tr>
                        <th>на складе</th>
                        <td>{{$ctrl.book.inStock | checkmark}}</td>
                    </tr>
                </table>
            </div>

            <div class="book__description">
                <p>
                    Описание
                </p>
                <span>{{$ctrl.book.description}}</span>
            </div>
        </div>
    </div>
</div>
