.books__list-item.ng-enter,
.books__list-item.ng-leave,
.books__list-item.ng-move {
  /*overflow: hidden;*/
  transition: 5s linear all;
}

.books__list-item.ng-enter,
.books__list-item.ng-leave.ng-leave-active,
.books__list-item.ng-move {
  opacity: 0;
}

.books__list-item.ng-enter.ng-enter-active,
.books__list-item.ng-leave,
.books__list-item.ng-move.ng-move-active {
  opacity: 1;
}

@media (max-width: 768px) {
  .books__list-item.ng-enter.ng-enter-active,
  .books__list-item.ng-leave,
  .books__list-item.ng-move.ng-move-active {
    height: 300px;
  }
}

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
}

.view-frame.ng-enter {
  animation: .5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: .5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
