body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

.books {}
.component__wrapper {
  min-width: 400px;
}
.books__list {}

.books__item {
    padding: 15px 0 0 0;
    text-align: center;
    border: 1px solid #ccc;
    min-height: 450px;
    height: 550px;
    position: relative;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.books__img {
    width: 70%;
}

.books__description {
    position: absolute;
    background: #fff;
    bottom: 0;
    width: 100%;
    padding: 15px 10px;
}

.books__title {
    font-size: 16px;
}

.books__price {
    font-size: 14px;
    font-weight: 600;
}

.books__price:after {
    content: "руб";
    padding: 0 3px;
}

.search {
    margin: 0 0 30px 0;
}

.sorting {
    margin: 0 0 15px 0;
}

.sorting>div {
    overflow: hidden;
    text-align: right;
}

.sorting__list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.sorting__item {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.sorting__item-current {
    font-weight: 600;
}

.sorting__item-current:after {
    content: "\2191";
    padding: 0 3px;
}

.sorting__item-current-up:after {
    content: "\2193";
}

.book {}

.book table tr th {
    text-transform: capitalize;
    ;
}

.book__images, .book__image-item {
    text-align: center;
}

.book__image-main {
    border: 1px solid #ccc;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.book__image-main img {
    height: 400px;
    background-color: white;
    display: none;
    /*float: left;*/
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    z-index: -1;
    /*max-width: 100%;*/
}

.book__image-main img:first-child {
    display: block;
}

.book__image-contain {
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}

.book__image-item img {
    height: 100px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .books__item {
        min-height: 300px;
        height: inherit;
        max-height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
  .books__item {
      min-height: 350px;
      height: inherit;
      max-height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .books__item {
      min-height: 450px;
      height: inherit;
      max-height: 550px;
  }
}

@media (min-width: 1200px) {}
